$slick-font-path: '~slick-carousel/slick/fonts/';
$slick-loader-path: '~slick-carousel/slick/';

@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';

.slider-page-wrapper {
    min-height: 100%;

    background: linear-gradient(230deg, #e6e6e6, #125dbe, #e70303);
    background-size: 600% 600%;

    animation: background-animation 9s ease infinite;

    @keyframes background-animation {
        0%{background-position:0% 52%}
        50%{background-position:100% 49%}
        100%{background-position:0% 52%}
    }

    color: white;
    width: 100%;
    height: 100%;
    
    .slider-page-content {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;

        .skip-button-wrapper {
            display: flex;
            position: relative;
            width: 100%;

            .skip-button {
                position: absolute;
                right: 1rem;
                top: 2rem;
                button {
                    color: white;
                    font-size: 3.5rem;
                    width: 20rem;
                    height: 10rem;
                    background: transparent;
                    border: .2rem solid white;
                    border-radius: 2rem;
                }
            }
        }

        .slider-wrapper {
            width: 50rem;
            margin: auto;

            .slider-element {
                width: 50rem;

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                
            }

            .slick-dots {
                pointer-events: none;
                bottom: -5rem;
                li {
                    width: 5rem;
                    button::before {
                        color: white;
                        font-size: 2.5rem;               
                    }
                }

            }
        }
    }
}