.manual-auth-wrapper {
    min-height: 100%;

    background: linear-gradient(230deg, #e6e6e6, #125dbe, #e70303);
    background-size: 600% 600%;

    animation: background-animation 9s ease infinite;

    @keyframes background-animation {
        0%{background-position:0% 52%}
        50%{background-position:100% 49%}
        100%{background-position:0% 52%}
    }
    width: 100%;
    height: 100%;

    color: white;
    width: 100%;
    height: 100%;

    .manual-auth-content {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;

        .header {
            display: flex;
            width: 100%;
            margin-top: 2rem;
            margin-bottom: 5rem;

            .back-button {

            }

            .location-text {
                font-size: 1.7rem;
                margin: 0 auto;
                text-transform: uppercase;
            }
        }

        .form-wrapper {
            width: 80%;
            height: 100%;
            justify-content: center;
        }

        .form-fields-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;

            .input-field-wrapper {
                input.input-field {
                    padding-left: 2rem;
                    color: white;
                    background: rgba(160, 160, 160, 0.2);
                    border: .1rem solid white;
                    border-radius: 3rem;
                    margin-top: 2.5rem;
                    width: 100%;
                    height: 5rem;
                    font-size: 1.2rem;
                    outline: none;
                }
    
                input.input-field::placeholder {
                    color: white;
                }
            }

        }

        .bottom-disclaimer-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .terms-box {
                display: flex;
                align-items: center;
                margin-top: 4rem;
                .tos-text {
                    font-size: 1.3rem;
                }

                .tos-checkbox {
                    width: 2rem;
                    height: 2rem;
                    margin-right: 2rem;
                }
            }
            .auth-button {
                width: 100%;
                margin-top: 3rem;
                button {
                    color: white;
                    font-size: 2rem;
                    text-transform: uppercase;
                    width: 100%;
                    height: 5rem;
                    background: #ca2927;
                    border: .2rem solid white;
                    border-radius: 3rem;
                }
            }

            .bottom-text-wrapper {
                font-size: 1.2rem;
                margin-top: 2rem;
            }
        }
    }
}