.auth-page-wrapper {
    min-height: 100%;

    background: linear-gradient(230deg, #e6e6e6, #125dbe, #e70303);
    background-size: 600% 600%;

    animation: background-animation 9s ease infinite;

    @keyframes background-animation {
        0%{background-position:0% 52%}
        50%{background-position:100% 49%}
        100%{background-position:0% 52%}
    }
    width: 100%;
    height: 100%;

    .auth-page-content {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .login-buttons {
        display: flex;
        flex-direction: column;

        > * {
            margin-top: 2rem;
        }
        
        .facebook-button {
            width: 25rem;
            height: 4rem;
            outline: none;
            background: dodgerblue;
            border: .2rem solid white;
            border-radius: 0.5rem;
        }

        .google-button {
            width: 25rem;
            height: 4rem;
            outline: none;
            background: red;
            border: .2rem solid white;
            border-radius: 0.5rem;
        }

        .signup-button {
            width: 25rem;
            height: 4rem;
            outline: none;
            background: darkred;
            border: .2rem solid white;
            border-radius: 0.5rem;
        }
    }
}